openapi: 3.0.3
info:
  title: Support API
  description: Zendesk Support API endpoints
  version: 2.0.0
tags:
  - name: Attachments
  - name: Sessions
  - name: Trigger Categories
  - name: Tags
  - name: Targets
  - name: Target Failures
  - name: Job Statuses
  - name: Automations
  - name: Tickets
  - name: Email Notifications
  - name: Lookup Relationships
  - name: Dynamic Content
  - name: Dynamic Content Item Variants
  - name: Push Notification Devices
  - name: Channel Framework
  - name: X Channel
  - name: Organizations
  - name: Triggers
  - name: Object Triggers
  - name: Custom Roles
  - name: Incremental Export
  - name: Account Settings
  - name: Ticket Metrics
  - name: Groups
  - name: Group Memberships
  - name: Incremental Skill Based Routing
  - name: Organization Memberships
  - name: Sharing Agreements
  - name: Search
  - name: Workspaces
  - name: Skill Based Routing
  - name: Resource Collections
  - name: Macros
  - name: Organization Subscriptions
  - name: Support Addresses
  - name: User Passwords
  - name: User Identities
  - name: Activity Stream
  - name: Group SLA Policies
  - name: SLA Policies
  - name: Ticket Audits
  - name: Ticket Metric Events
  - name: Conversation Log
  - name: Brands
  - name: Brand Agents
  - name: Users
  - name: Satisfaction Reasons
  - name: Ticket Forms
  - name: Ticket Form Statuses
  - name: Suspended Tickets
  - name: Satisfaction Ratings
  - name: Ticket Comments
  - name: Requests
  - name: Audit Logs
  - name: Views
  - name: Ticket Import
  - name: Organization Fields
  - name: User Fields
  - name: Ticket Fields
  - name: Ticket Skips
  - name: Bookmarks
  - name: Reseller
  - name: Basics
  - name: AssigneeFieldAssignableGroups
  - name: AssigneeFieldAssignableAgents
  - name: Custom Ticket Statuses
  - name: Locales
  - name: Custom Objects
  - name: Custom Object Fields
  - name: Custom Object Records
  - name: Essentials Card
  - name: Omnichannel Routing Queues
  - name: Deletion Schedules
  - name: OAuth Clients
  - name: OAuth Tokens
  - name: Grant Type Tokens
  - name: Global Clients
  - name: Approval Requests
  - name: Approval Workflow Instances
servers:
  - url: https://amazon-84159.zendesk.com
    variables:
      domain:
        default: zendesk
      subdomain:
        default: amazon-84159
paths:
  /api/lotus/assignables/autocomplete.json:
    get:
      operationId: ListAssigneeFieldAssignableGroupsAndAgentsSearch
      tags:
        - AssigneeFieldAssignableGroups
        - AssigneeFieldAssignableAgents
      summary: List assignable groups and agents based on query matched against name
      description: |
        List assignable groups and agents based on query matched against name

        #### Allowed For

        * Agents
      parameters:
        - $ref: '#/components/parameters/AssigneeFieldSearchValue'
      responses:
        "200":
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssigneeFieldAssignableGroupsAndAgentsSearchResponse'
              examples:
                default:
                  $ref: '#/components/examples/AssigneeFieldAssignableGroupsAndAgentsSearchResponseExample'
  /api/lotus/assignables/groups.json:
    get:
      operationId: ListAssigneeFieldAssignableGroups
      tags:
        - AssigneeFieldAssignableAgents
      summary: List assignable groups on the AssigneeField
      description: |
        List assignable groups on the AssigneeField

        #### Allowed For

        * Agents
      responses:
        "200":
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssigneeFieldAssignableGroupsResponse'
              examples:
                default:
                  $ref: '#/components/examples/AssigneeFieldAssignableGroupsResponseExample'
  /api/lotus/assignables/groups/{group_id}/agents.json:
    get:
      operationId: ListAssigneeFieldAssignableGroupAgents
      tags:
        - AssigneeFieldAssignableAgents
      summary: List assignable agents from a group on the AssigneeField
      description: |
        List assignable agents from a group on the AssigneeField

        #### Allowed For

        * Agents
      parameters:
        - $ref: '#/components/parameters/GroupId'
      responses:
        "200":
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssigneeFieldAssignableGroupAgentsResponse'
              examples:
                default:
                  $ref: '#/components/examples/AssigneeFieldAssignableGroupAgentsResponseExample'
  /api/v2/{target_type}/{target_id}/relationship_fields/{field_id}/{source_type}:
    get:
      operationId: GetSourcesByTarget
      tags:
        - Lookup Relationships
      summary: Get sources by target
      description: |
        Returns a list of source objects whose values are populated with the id of a related target object.  For example,
        if you have a lookup field called "Success Manager" on a ticket, this endpoint can answer the question,
        "What tickets (sources) is this user (found by `target_type` and `target_id`)
        assigned as the 'Success Manager' (field referenced by `field_id`)?"

        #### Allowed For

        * Agents

        #### Pagination

        * Cursor pagination (recommended)
        * Offset pagination

        See [Pagination](/api-reference/introduction/pagination/).
      parameters:
        - name: target_type
          in: path
          description: |
            The type of object the relationship field is targeting.
            The options are "zen:user", "zen:ticket", "zen:organization", and "zen:custom_object:CUSTOM_OBJECT_KEY"
          required: true
          schema:
            type: string
          example: zen:custom_object:apartment
        - name: target_id
          in: path
          description: |
            The id of the object the relationship field is targeting
          required: true
          schema:
            type: integer
          example: 1234
        - name: field_id
          in: path
          description: |
            The id of the lookup relationship field
          required: true
          schema:
            type: integer
          example: 1234
        - name: source_type
          in: path
          description: |
            The type of object the relationship field belongs to (example. ticket field belongs to a ticket object).
            The options are "zen:user", "zen:ticket", "zen:organization", and "zen:custom_object:CUSTOM_OBJECT_KEY"
          required: true
          schema:
            type: string
          example: zen:custom_object:apartment
      responses:
        "200":
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReverseLookupResponse'
              examples:
                default:
                  $ref: '#/components/examples/ReverseLookupUsersResponseExample'
  /api/v2/account/settings:
    get:
      operationId: ShowAccountSettings
      tags:
        - Account Settings
      summary: Show Settings
      description: |
        Shows the settings that are available for the account.

        #### Allowed For

        * Agents
      responses:
        "200":
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountSettingsResponse'
              examples:
                default:
                  $ref: '#/components/examples/AccountSettingsResponseExample'
    put:
      operationId: UpdateAccountSettings
      tags:
        - Account Settings
      summary: Update Account Settings
      description: |
        Updates settings for the account. See [JSON Format](#json-format) above for the settings you can update.

        #### Allowed For

        * Admins
      responses:
        "200":
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountSettingsResponse'
              examples:
                default:
                  $ref: '#/components/examples/AccountSettingsResponseExample'
  /api/v2/accounts:
    post:
      operationId: CreateTrialAccount
      tags:
        - Reseller
      summary: Create Trial Account
      responses:
        "201":
          description: Created response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrialAccountResponse'
              examples:
                default:
                  $ref: '#/components/examples/TrialAccountResponseExample'
  /api/v2/accounts/available:
    get:
      operationId: VerifySubdomainAvailability
      tags:
        - Reseller
      summary: Verify Subdomain Availability
      description: |
        Zendesk Support credentials are not required to access this endpoint. You can use any Zendesk Support subdomain.

        Returns "true" if the subdomain is available.
      parameters:
        - name: subdomain
          in: query
          description: |
            Specify the name of the subdomain you want to verify. The name can't contain underscores, hyphens, or spaces.
          required: true
          schema:
            type: string
          example: z3ndesk
      responses:
        "200":
          description: Success response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
              example:
                success: true
  /api/v2/activities:
    parameters:
      - $ref: '#/components/parameters/ActivitySince'
    get:
      operationId: ListActivities
      tags:
        - Activity Stream
      summary: List Activities
      description: |
        Lists ticket activities in the last 30 days affecting the agent making the request.
        Also sideloads the following arrays of user records:

        - actors - All actors involved in the listed activities
        - users - All users involved in the listed activities

        #### Pagination

        - Cursor pagination (recommended)
        - Offset pagination

        See [Pagination](/api-reference/introduction/pagination/).

        Returns a maximum of 100 records per page.

        #### Allowed For

        * Agents
      responses:
        "200":
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivitiesResponse'
              examples:
                default:
                  $ref: '#/components/examples/ActivitiesResponseExample'
  /api/v2/activities/{activity_id}:
    parameters:
      - $ref: '#/components/parameters/ActivityId'
    get:
      operationId: ShowActivity
      tags:
        - Activity Stream
      summary: Show Activity
      description: |
        Lists a specific activity.

        #### Allowed For

        * Agents
      responses:
        "200":
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityResponse'
              examples:
                default:
                  $ref: '#/components/examples/ActivityResponseExample'
  /api/v2/activities/count:
    get:
      operationId: CountActivities
      tags:
        - Activity Stream
      summary: Count Activities
      description: |-
        Returns an approximate count of ticket activities in the last 30 days affecting the agent making the request. If the count exceeds 100,000, the count will return a cached result. This cached result will update every 24 hours.

        The `count[refreshed_at]` property is a timestamp that indicates when the count was last updated.

        **Note**: When the count exceeds 100,000, `count[refreshed_at]` may occasionally be null.
        This indicates that the count is being updated in the background, and `count[value]` is limited to 100,000 until the update is complete.

        #### Allowed For
        * Agents
      responses:
        "200":
          description: Count of ticket activities
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivitiesCountResponse'
              examples:
                default:
                  $ref: '#/components/examples/ActivitiesCountResponseExample'
  /api/v2/any_channel/channelback/report_error:
    post:
      operationId: ReportChannelbackError
      tags:
        - Channel Framework
      summary: Report Channelback Error to Zendesk
      description: |
        #### Allowed For

        * Admins

        #### Request parameters

        The POST request takes a JSON object parameter which contains information about the
        problematic [channelback](/documentation/channel_framework/understanding-the-channel-framework/channelback/).

        | Name               | Type      | Required  | Comments
        | ------------------ | ----------| --------- | -------------------
        | instance_push_id   | string    | yes       | The ID of the account to which data will be pushed.  This was passed to the integration service when the administrator set up the account
        | external_id        | string    | yes       | Unique identifier of the external resource from the original channelback (string)
        | description        | string    | no        | A human readable description of the error
        | request_id         | string    | no        | A unique identifier for the request


        #### Response format

        The response does not include a response body
      responses:
        "200":
          description: Success response
          content:
            application/json:
              schema:
                type: string
                description: Empty response
                example: ""
              example: ""
  /api/v2/any_channel/push:
    post:
      operationId: PushContentToSupport
      tags:
        - Channel Framework
      summary: Push Content to Support
      description: |
        Pushes Channel framework content to Zendesk.

        #### Allowed For

        * Admins

        #### Request parameters

        The POST request takes a JSON object parameter which contains data about all
        the resources that the client is pushing.

        | Name               | Type      | Required  | Comments
        | ------------------ | ----------| --------- | -------------------
        | instance_push_id   | string    | yes       | The account ID where data will be pushed. This was passed to the integration service when the administrator set up the account
        | request_id         | string    | no        | A unique identifier for the push request
        | external_resources | array     | yes       | The [resources](#external_resource-object) to push

        #### external_resource object

        | Name               | Type                               | Max length | Mandatory | Comments
        |------------------- | ---------------------------------- |------------| --------- | ----------
        | external_id        | string                             | 255        | yes       | Unique identifier of the external resource. Must be ASCII characters
        | internal_note      | boolean                            |            | no        | If true creates a new internal note comment
        | message            | string                             | 65535      | yes       | Text to be converted to a ticket or comment
        | html_message       | string                             | 65535      | no        | HTML version of message
        | parent_id          | string                             | 511        | no        | Unique identifier of the external resource for which this is a response. Used to choose the correct thread. Responses may include `parent_id` or `thread_id`, but not both. See [Conversation threads](/documentation/channel_framework/understanding-the-channel-framework/pull_endpoint/#conversation-threads)
        | thread_id          | string                             | 255        | no        | Arbitrary identifier of the thread to which this item should belong. Responses may include `parent_id` or `thread_id`, but not both. See [Conversation threads](/documentation/channel_framework/understanding-the-channel-framework/pull_endpoint/#conversation-threads)
        | created_at         | string                             |            | yes       | When the resource was created in the origin system, as an ISO 8601 extended format date-time. Example: '2015-09-08T22:48:09Z'
        | author             | object                             |            | yes       | See [author object](#author-object) below
        | display_info       | array                              |            | no        | Array of integration-specific data used by apps to modify the agent UI. See [display_info object](#display_info-object) below
        | allow_channelback  | boolean                            |            | no        | If false, prevents the agent from making additional comments on the message in the Zendesk interface
        | fields             | array                              |            | no        | Array of ticket fields to set in Zendesk and their values. See [fields array](#fields-array)
        | file_urls          | array                              | 10         | no        | Array of files to be imported into Zendesk. See [file urls](/documentation/channel_framework/understanding-the-channel-framework/pull_endpoint/#file-urls) in the Channel framework docs

        #### author object

        | Name        | Type   | Max chars | Mandatory | Comments
        |------------ | ------ |---------- |---------- |-----------
        | external_id | string | 255       | yes       | Unique identifier of the user in the origin service
        | name        | string | 255       | no        | If not supplied, defaults to external id
        | image_url   | string | 255       | no        | URL to an image for the user
        | locale      | String | 255       | no        | The user's locale. Must be one of the supported [locales](/api-reference/ticketing/account-configuration/locales/#list-available-public-locales) in Zendesk
        | fields      | array  |           | no        | Array of items containing user field identifier ('id') and value of field ('value'.)  For system fields ('notes' or 'details'), the identifier is the English name. For custom fields, the identifier may be the ID or the name

        #### display_info object

        | Name | Type   | Max chars | Mandatory | Comments
        |----- | ------ |---------- |---------- |-----------
        | type | string | 255       | yes       | Globally unique type identifier defined by the integration origin service. Examples: a GUID or URI
        | data | string | 65535     | yes       | JSON data containing display hints

        #### fields array

        The `fields` array lists ticket fields to set in Zendesk and their values. Each item consists of a field identifier (`id`) and a value (`value`) for the field. For Zendesk system fields such as `subject`, the identifier is the English name. For custom fields, the identifier may be a field ID or a name. See [Ticket Fields](/api-reference/ticketing/tickets/ticket_fields/).

        The `fields` array can only set ticket values on ticket creation, not on ticket updates.

        #### Response format

        The response is a JSON object containing a single key:

        | Name      | Type     | Comments
        | --------- | -------- | -------------------
        | results   | array    | An array of [result objects](#result-object)

        The `results` array contains an entry for each item in the incoming `external_resources` array, in the
        same order.  For example, if you call `push` with 3 external resources, a successful response will include
        `results` with three entries, corresponding to your 3 resources.

        #### result object

        | Name                 | Type                           | Comments
        | -------------------- | ------------------------------ | -------------------
        | external_resource_id | string                         | The external ID of the resource, as passed in
        | status               | object                         | The status of the import for the indicated resource. See [status object](#status-object)

        #### status object

        | Name        | Type   | Comments
        | ----------- | ------ | -------------------
        | code        | string | A code indicating the status of the import of the resource, as described in [status codes](#status-codes)
        | description | string | In the case of an exception, a description of the exception. Otherwise, not present.

        #### status codes

        | Key                                       | Description
        | ----------------------------------------- | ----------------
        | success                                   | The external resource was successfully converted to a ticket or comment
        | already_imported                          | Reimport of the external resource was skipped due to a pre-existing ticket or comment for the resource
        | could_not_locate_parent_external_resource | The parent resource, as identified by parent_id in the [request](#request-parameters), could not be found. The unrecognized parent ID is returned in the description of the [status](#status-object)
        | processing_error                          | An internal exception occurred while processing the resource. See `description` in the [status object](#status-object)
        | halted                                    | This resource was not processed because processing of previous resources failed
      responses:
        "200":
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelFrameworkPushResultsResponse'
              examples:
                default:
                  $ref: '#/components/examples/ChannelFrameworkPushResultsResponseExample'
  /api/v2/any_channel/validate_token:
    post:
      operationId: ValidateToken
      tags:
        - Channel Framework
      summary: Validate Token
      description: |
        #### Allowed For

        * Admins

        #### Request parameters

        The POST request takes a JSON object parameter which contains the token to be validated.

        | Name               | Type      | Required  | Comments
        | ------------------ | ----------| --------- | -------------------
        | instance_push_id   | string    | yes       | The ID of the account to which data will be pushed. This was passed to the integration service when the administrator set up the account
        | request_id         | string    | no        | A unique identifier for the push request

        #### Response format

        The response body is empty.
      responses:
        "200":
          description: Success response
          content:
            application/json:
              schema:
                type: string
                description: Empty response
                example: ""
              example: ""
  /api/v2/approval_workflow_instances:
    post:
      operationId: CreateApprovalWorkflowInstance
      tags:
        - Approval Workflow Instances
      summary: Create Approval Workflow Instance
      description: |
        Creates an approval workflow instance attached to a ticket. The request must include a name for the workflow and a ticket id to associate with the workflow instance.

        #### Allowed For

        * Agents
      responses:
        "201":
          description: Created response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApprovalWorkflowInstanceObject'
              examples:
                default:
                  $ref: '#/components/examples/ApprovalWorkflowInstanceCreateResponseExample'
  /api/v2/approval_workflow_instances/{approval_workflow_instance_id}/approval_requests:
    parameters:
      - $ref: '#/components/parameters/ApprovalWorkflowInstanceId'
    post:
      operationId: CreateApprovalRequest
      tags:
        - Approval Requests
      summary: Create an Approval Request
      description: |
        Creates an approval request that is attached to a ticket. The request must include all of the following information:
        - A subject and message for the approval
        - A ticket the request should be associated with
        - A [workflow instance id](/api-reference/ticketing/approvals/approval_workflow_instances/#approval-workflow-instances) for the request
        - An assignee that will act as an approver

        #### Allowed For

        * Agents
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApprovalRequestCreateRequest'
            examples:
              default:
                $ref: '#/components/examples/ApprovalRequestCreateRequestExample'
      responses:
        "201":
          description: Created response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApprovalRequestObject'
              examples:
                default:
                  $ref: '#/components/examples/ApprovalRequestResponseExample'
  /api/v2/approval_workflow_instances/{approval_workflow_instance_id}/approval_requests/{approval_request_id}:
    parameters:
      - $ref: '#/components/parameters/ApprovalWorkflowInstanceId'
      - $ref: '#/components/parameters/ApprovalRequestId'
    get:
      operationId: ShowApprovalRequest
      tags:
        - Approval Requests
      summary: Show Approval Request
      description: |
        Shows an approval request.

        #### Allowed For

        * Agents
      responses:
        "200":
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApprovalRequestObject'
              examples:
                default:
                  $ref: '#/components/examples/ApprovalRequestResponseExample'
  /api/v2/approval_workflow_instances/{approval_workflow_instance_id}/approval_requests/{approval_request_id}/decision:
    parameters:
      - $ref: '#/components/parameters/ApprovalWorkflowInstanceId'
      - $ref: '#/components/parameters/ApprovalRequestId'
    patch:
      operationId: UpdateDecisionApprovalRequest
      tags:
        - Approval Requests
      summary: Update Approval Request Status
      description: |
        Updates the  approver's decision about an approval request.

        #### Allowed For

        * Agents
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                notes:
                  type: string
                  description: Notes for the decision
                status:
                  type: string
                  description: The status of the approval request
                  enum:
                    - approved
                    - rejected
                    - pending
                    - withdrawn
            example:
              notes: Approved by manager
              status: approved
      responses:
        "200":
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApprovalRequestObject'
              examples:
                default:
                  $ref: '#/components/examples/ApprovalRequestResponseExample'
  /api/v2/approval_workflow_instances/{approval_workflow_instance_id}/approval_requests/search:
    parameters:
      - $ref: '#/components/parameters/ApprovalWorkflowInstanceId'
    post:
      operationId: SearchApprovals
      tags:
        - Approval Requests
      summary: Get Approvals by Approval Workflow Id
      description: |
        Returns a list of approvals associated with a specific [workflow instance](/api-reference/ticketing/approvals/approval_workflow_instances/#approval-workflow-instances). Results can be filtered by approval request status.

        #### Allowed For

        * Agents
      responses:
        "200":
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApprovalRequestsSearchResponse'
              examples:
                default:
                  $ref: '#/components/examples/ApprovalRequestsSearchResponseExample'
  /api/v2/attachments/{attachment_id}:
    get:
      operationId: ShowAttachment
      tags:
        - Attachments
      summary: Show Attachment
      description: |
        Shows attachment details. You can get the value of the `attachment_id` parameter by listing the ticket's comments.
        See [List Comments](/api-reference/ticketing/tickets/ticket_comments/#list-comments). Each comment
        in the list has an `attachments` list that specifies an `id` for each attachment.


         #### Allowed for

         * Agents
      parameters:
        - $ref: '#/components/parameters/AttachmentId'
      responses:
        "200":
          description: Success Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachmentResponse'
              examples:
                default:
                  $ref: '#/components/examples/AttachmentResponseExample'
    put:
      operationId: UpdateAttachment
      tags:
        - Attachments
      summary: Update Attachment for Malware
      description: |
        Toggles enabling or restricting agent access to attachments with detected malware.

        #### Allowed For

        * Admins
      parameters:
        - $ref: '#/components/parameters/AttachmentId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttachmentUpdateRequest'
            examples:
              default:
                $ref: '#/components/examples/AttachmentUpdateRequestExample'
      responses:
        "200":
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachmentResponse'
              examples:
                default:
                  $ref: '#/components/examples/AttachmentResponseExample'
  /api/v2/audit_logs:
    get:
      operationId: ListAuditLogs
      tags:
        - Audit Logs
      summary: List Audit Logs
      description: |
        #### Allowed For

        * Admins on accounts that have audit log access

        #### Pagination

        * Cursor pagination (recommended)
        * Offset pagination

        See [Pagination](/api-reference/introduction/pagination/).

        Returns a maximum of 100 records per page.
      parameters:
        - name: filter[source_type]
          in: query
          description: Filter audit logs by the source type. For example, user or rule
          schema:
            type: string
        - name: filter[source_id]
          in: query
          description: Filter audit logs by the source id. Requires `filter[source_type]` to also be set
          schema:
            type: integer
        - name: filter[actor_id]
          in: query
          description: Filter audit logs by the actor id
          schema:
            type: integer
        - name: filter[ip_address]
          in: query
          description: Filter audit logs by the ip address
          schema:
            type: string
        - name: filter[created_at]
          in: query
          description: Filter audit logs by the time of creation. When used, you must specify `filter[created_at]` twice in your request, first with the start time and again with an end time
          schema:
            type: string
        - name: filter[action]
          in: query
          description: Filter audit logs by the action
          schema:
            type: string
        - name: sort_by
          in: query
          description: Offset pagination only. Sort audit logs. Default is `sort_by=created_at`
          schema:
            type: string
        - name: sort_order
          in: query
          description: Offset pagination only. Sort audit logs. Default is `sort_order=desc`
          schema:
            type: string
        - name: sort
          in: query
          description: Cursor pagination only. Sort audit logs. Default is `sort=-created_at`
          schema:
            type: string
      responses:
        "200":
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditLogsResponse'
              examples:
                default:
                  $ref: '#/components/examples/AuditLogsResponseExample'
  /api/v2/audit_logs/{audit_log_id}:
    parameters:
      - $ref: '#/components/parameters/AuditLogId'
    get:
      operationId: ShowAuditLog
      tags:
        - Audit Logs
      summary: Show Audit Log
      description: |
        #### Allowed For

        * Admins on accounts that have audit-log access
      responses:
        "200":
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditLogResponse'
              examples:
                default:
                  $ref: '#/components/examples/AuditLogResponseExample'
  /api/v2/audit_logs/export:
    post:
      operationId: ExportAuditLogs
      tags:
        - Audit Logs
      summary: Export Audit Logs
      description: |
        #### Allowed For

        * Admins on accounts that have audit log access
      parameters:
        - name: filter[source_type]
          in: query
          description: Filter audit logs by the source type. For example, user or rule
          schema:
            type: string
        - name: filter[source_id]
          in: query
          description: Filter audit logs by the source id. Requires `filter[source_type]` to also be set.
          schema:
            type: integer
        - name: filter[actor_id]
          in: query
          description: Filter audit logs by the actor id
          schema:
            type: integer
        - name: filter[ip_address]
          in: query
          description: Filter audit logs by the ip address
          schema:
            type: string
        - name: filter[created_at]
          in: query
          description: Filter audit logs by the time of creation. When used, you must specify `filter[created_at]` twice in your request, first with the start time and again with an end time
          schema:
            type: string
        - name: filter[action]
          in: query
          description: Filter audit logs by the action
          schema:
            type: string
      responses:
        "202":
          description: Accepted description
          content:
            application/json:
              schema:
                type: string
                description: Empty response
                example: ""
              example: ""
  /api/v2/autocomplete/tags:
    parameters:
      - $ref: '#/components/parameters/TagNameFragment'
    get:
      operationId: AutocompleteTags
      tags:
        - Tags
      summary: Search Tags
      description: |
        Returns an array of registered and recent tag names that start with the characters specified in the `name` query parameter. You must specify at least 2 characters.

        #### Pagination

        * Offset pagination only

        See [Using Offset Pagination](/api-reference/ticketing/introduction/#using-offset-pagination).


        #### Allowed For

        * Agents
      responses:
        "200":
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagsByObjectIdResponse'
              examples:
                default:
                  $ref: '#/components/examples/TagsAutocompleteResponseExample'
  /api/v2/automations:
    get:
      operationId: ListAutomations
      tags:
        - Automations
      summary: List Automations
      description: |
        Lists all automations for the current account.

        #### Allowed For

        * Agents

        #### Available Parameters

        You can pass in any combination of the following optional filters:

        | Name       | Type    | Comment
        | ---------- | ------- | -------
        | active     | boolean | Only active automations if true, inactive automations if false
        | sort_by    | string  | Possible values are "alphabetical", "created_at", "updated_at", "usage_1h", "usage_24h", or "usage_7d". Defaults to "position"
        | sort_order | string  | One of "asc" or "desc". Defaults to "asc" for alphabetical and position sort, "desc" for all others

        #### Sideloads

        The following sideloads are supported. The usage sideloads are only supported on the Support Professional or Suite Growth plan or above.

        | Name             | Will sideload
        | ---------------- | -------------
        | app_installation | The app installation that requires each automation, if present
        | permissions      | The permissions for each automation
        | usage_1h         | The number of times each automation has been used in the past hour
        | usage_24h        | The number of times each automation has been used in the past day
        | usage_7d         | The number of times each automation has been used in the past week
        | usage_30d        | The number of times each automation has been used in the past thirty days

        #### Pagination

        - Cursor pagination (recommended)
        - Offset pagination

        See [Pagination](/api-reference/introduction/pagination/).

        Returns a maximum of 100 records per page.
      responses:
        "200":
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutomationsResponse'
              examples:
                default:
                  $ref: '#/components/examples/AutomationsResponseExample'
    post:
      operationId: CreateAutomation
      tags:
        - Automations
      summary: Create Automation
      description: |
        Creates an automation.

        New automations must be unique and have at least one condition that is true only once or an action that nullifies at least one of the conditions. Active automations can have overlapping conditions but can't be identical.

        The request must include the following conditions in the `all` array:

        - At least one time-based condition
        - At least one condition that checks one of the following fields: `status`, `type`, `group_id`, `assignee_id`, or `requester_id`.

        #### Allowed For

        * Agents
      responses:
        "201":
          description: Created response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutomationResponse'
              examples:
                default:
                  $ref: '#/components/examples/AutomationCreateResponseExample'
  /api/v2/automations/{automation_id}:
    parameters:
      - $ref: '#/components/parameters/AutomationId'
    get:
      operationId: ShowAutomation
      tags:
        - Automations
      summary: Show Automation
      description: |
        #### Allowed For

        * Agents
      responses:
        "200":
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutomationResponse'
              examples:
                default:
                  $ref: '#/components/examples/AutomationResponseExample'
    put:
      operationId: UpdateAutomation
      tags:
        - Automations
      summary: Update Automation
      description: |
        Updates an automation.

        Updated automations must be unique and have at least one condition that is true only once or an action that nullifies at least one of the conditions. Active automations can have overlapping conditions but can't be identical.

        The request must include the following conditions in the `all` array:
        - At least one time-based condition
        - At least one condition that checks one of the following fields: 'status', 'type', 'group_id', 'assignee_id', or 'requester_id'

        **Note**: Updating a condition or action updates both the `conditions` and `actions` arrays, clearing all existing values of both arrays. Include all your conditions and actions when updating any condition or action.
        **Note**: You might be restricted from updating some default automations.

        #### Allowed For

        * Agents
      responses:
        "200":
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutomationResponse'
              examples:
                default:
                  $ref: '#/components/examples/AutomationResponseExample'
    delete:
      operationId: DeleteAutomation
      tags:
        - Automations
      summary: Delete Automation
      description: |
        **Note**: You might be restricted from deleting some default automations.

        #### Allowed For

        * Agents
      responses:
        "204":
          description: No Content response
  /api/v2/automations/active:
    get:
      operationId: ListActiveAutomations
      tags:
        - Automations
      summary: List Active Automations
      description: |
        Lists all active automations.

        #### Allowed For

        * Agents

        #### Available Parameters

        You can pass in any combination of the following optional filters:

        | Name       | Type   | Comment
        | ---------- | ------ | -------
        | sort_by    | string | Possible values are "alphabetical", "created_at", "updated_at", "usage_1h", "usage_24h", or "usage_7d". Defaults to "position"
        | sort_order | string | One of "asc" or "desc". Defaults to "asc" for alphabetical and position sort, "desc" for all others

        #### Sideloads

        The following sideloads are supported:

        | Name             | Will sideload
        | ---------------- | -------------
        | app_installation | The app installation that requires each automation, if present
        | permissions      | The permissions for each automation
        | usage_1h         | The number of times each automation has been used in the past hour
        | usage_24h        | The number of times each automation has been used in the past day
        | usage_7d         | The number of times each automation has been used in the past week
        | usage_30d        | The number of times each automation has been used in the past thirty days
      responses:
        "200":
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutomationsResponse'
              examples:
                default:
                  $ref: '#/components/examples/AutomationsResponseExample'
  /api/v2/automations/destroy_many:
    delete:
      operationId: BulkDeleteAutomations
      tags:
        - Automations
      summary: Bulk Delete Automations
      description: |
        Deletes the automations corresponding to the provided comma-separated list of IDs.

        **Note**: You might be restricted from deleting some default automations. If included in a bulk deletion, the unrestricted automations will be deleted.

        #### Allowed For

        * Agents

        #### Request Parameters

        The DELETE request takes one parameter, an `ids` object that lists the automations to delete.

        | Name | Description
        | ---- | -----------
        | ids  | The IDs of the automations to delete

        #### Example request

        ```js
        {
          "ids": "25,23,27,22"
        }
        ```
      parameters:
        - name: ids
          in: query
          description: The IDs of the automations to delete
          schema:
            type: array
            items:
              type: integer
      responses:
        "204":
          description: No Content response
  /api/v2/automations/search:
    parameters:
      - $ref: '#/components/parameters/AutomationSearchQuery'
      - $ref: '#/components/parameters/AutomationActive'
      - $ref: '#/components/parameters/AutomationSortBy'
      - $ref: '#/components/parameters/AutomationSortOrder'
      - $ref: '#/components/parameters/AutomationInclude'
    get:
      operationId: SearchAutomations
      tags:
        - Automations
      summary: Search Automations
      description: |
        #### Pagination

        * Offset pagination only

        See [Using Offset Pagination](/api-reference/ticketing/introduction/#using-offset-pagination).

        #### Allowed For

        * Agents

        #### Sideloads

        The following sideloads are supported. For more information, see [Side-loading](/documentation/ticketing/using-the-zendesk-api/side_loading/).

        | Name             | Will sideload
        | ---------------- | -------------
        | app_installation | The app installation that requires each automation, if present
        | permissions      | The permissions for each automation
        | usage_1h         | The number of times each automation has been used in the past hour
        | usage_24h        | The number of times each automation has been used in the past day
        | usage_7d         | The number of times each automation has been used in the past week
        | usage_30d        | The number of times each automation has been used in the past thirty days
      responses:
        "200":
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutomationsResponse'
              examples:
                default:
                  $ref: '#/components/examples/AutomationsSearchResponseExample'
  /api/v2/automations/update_many:
    put:
      operationId: UpdateManyAutomations
      tags:
        - Automations
      summary: Update Many Automations
      description: |
        **Note**: You might be restricted from updating some default automations. If included in a bulk update, the unrestricted automations will be updated.

        #### Allowed For

        * Agents

        #### Request Parameters

        The PUT request expects an `automations` object that lists the automations to update.

        Each automation may have the following properties:

        | Name     | Mandatory | Description
        | -------- | --------- | -----------
        | id       | yes       | The ID of the automation to update
        | position | no        | The new position of the automation
        | active   | no        | The active status of the automation (true or false)

        #### Example Request

        ```js
        {
          "automations": [
            {"id": 25, "position": 3},
            {"id": 23, "position": 5},
            {"id": 27, "position": 9},
            {"id": 22, "position": 7}
          ]
        }
        ```
      responses:
        "200":
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutomationsResponse'
              examples:
                default:
                  $ref: '#/components/examples/AutomationsUpdateManyResponseExample'
  /api/v2/bookmarks:
    get:
      operationId: ListBookmarks
      tags:
        - Bookmarks
      summary: List Bookmarks
      description: |-
        #### Allowed For
        - Agents
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookmarksResponse'
              examples:
                default:
                  $ref: '#/components/examples/BookmarksResponse'
    post:
      operationId: CreateBookmark
      tags:
        - Bookmarks
      summary: Create Bookmark
      description: |-
        #### Allowed For
        - Agents
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookmarkCreateRequest'
            examples:
              default:
                $ref: '#/components/examples/BookmarkCreateRequest'
      responses:
        "200":
          description: Successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookmarkResponse'
              examples:
                default:
                  $ref: '#/components/examples/BookmarkResponse'
        "201":
          description: Successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookmarkResponse'
              examples:
                default:
                  $ref: '#/components/examples/BookmarkResponse'
  /api/v2/bookmarks/{bookmark_id}:
    parameters:
      - $ref: '#/components/parameters/BookmarkId'
    delete:
      operationId: DeleteBookmark
      tags:
        - Bookmarks
      summary: Delete Bookmark
      description: |-
        #### Allowed For
        - Agents (own bookmarks only)

        If the bookmark already exists with a specified ticket id, the response status will be `http Status: 200 OK`.
      responses:
        "204":
          description: No content
  /api/v2/brand_agents/{brand_agent_id}:
    get:
      operationId: ShowBrandAgentById
      tags:
        - Brand Agents
      summary: Show Brand Agent Membership
      description: |
        Returns a brand agent membership for your account.


        #### Allowed For

        * Admins
      parameters:
        - $ref: '#/components/parameters/BrandAgentId'
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrandAgentResponse'
              examples:
                default:
                  $ref: '#/components/examples/BrandAgentResponseExample'
  /api/v2/brands:
    get:
      operationId: ListBrands
      tags:
        - Brands
      summary: List Brands
      description: |-
        Returns a list of all brands for your account sorted by name.

        #### Allowed for

        * Admins
        * Agents with the `assign_tickets_to_any_brand` permission can list all brands for the account
        * Agents without the `assign_tickets_to_any_brand` permission can only list brands they are members of

        #### Pagination

        * Cursor pagination (recommended)
        * Offset pagination

        See [Pagination](/api-reference/introduction/pagination/).
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrandsResponse'
              examples:
                default:
                  $ref: '#/components/examples/BrandsResponseExample'
    post:
      operationId: CreateBrand
      tags:
        - Brands
      summary: Create Brand
      description: |-
        #### Allowed for
        - Admins
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BrandCreateRequest'
            examples:
              default:
                $ref: '#/components/examples/BrandCreateRequestExample'
      responses:
        "201":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrandResponse'
              examples:
                default:
                  $ref: '#/components/examples/BrandResponseExample'
  /api/v2/channels/twitter/monitored_twitter_handles:
    get:
      operationId: ListMonitoredTwitterHandles
      tags:
        - X Channel
      summary: List Monitored X Handles
      description: |
        #### Allowed For

        * Admins
        * Agents
      responses:
        "200":
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TwitterChannelsResponse'
              examples:
                default:
                  $ref: '#/components/examples/TwitterChannelsResponseExample'
  /api/v2/channels/twitter/monitored_twitter_handles/{monitored_twitter_handle_id}:
    parameters:
      - $ref: '#/components/parameters/MonitoredTwitterHandleId'
    get:
      operationId: ShowMonitoredTwitterHandle
      tags:
        - X Channel
      summary: Show Monitored X Handle
      description: |
        #### Allowed For

        * Admins
        * Agents
      responses:
        "200":
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TwitterChannelResponse'
              examples:
                default:
                  $ref: '#/components/examples/TwitterChannelResponseExample'
  /api/v2/channels/twitter/tickets:
    post:
      operationId: CreateTicketFromTweet
      tags:
        - X Channel
      summary: Create Ticket from Tweet
      description: |
        Turns a tweet into a ticket. You must provide the tweet id as well as the id of a monitored X (formerly Twitter) handle configured for your account.

        The submitter of the ticket is set to be the user submitting the API request.

        #### Allowed For

        * Agents
      responses:
        "201":
          description: description
          content:
            application/json:
              schema:
                type: string
                description: Empty response
                example: ""
              example: ""
  /api/v2/channels/twitter/tickets/{comment_id}/statuses:
    parameters:
      - $ref: '#/components/parameters/CommentId'
    get:
      operationId: GettingTwicketStatus
      tags:
        - X Channel
      summary: List Ticket statuses
      description: |
        #### Allowed For

        * Agents
      parameters:
        - name: ids
          in: query
          description: Optional comment ids to retrieve tweet information for only particular comments
          schema:
            type: string
          example: 1,3,5
      responses:
        "200":
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TwitterChannelTwicketStatusResponse'
              examples:
                default:
                  $ref: '#/components/examples/TwitterChannelTwicketStatusResponseExample'
  /api/v2/channels/voice/agents/{agent_id}/tickets/{ticket_id}/display:
    post:
      operationId: OpenTicketInAgentBrowser
      tags:
        - Basics
      summary: Open Ticket in Agent's Browser
      description: |-
        Allows you to instruct an agent's browser to open a ticket.

        When the message is successfully delivered to an agent's browser:

        ```http
        Status: 200 OK
        ```

        When `agent_id` or `ticket_id` is invalid:

        ```http
        Status: 404 Not Found
        ```

        #### Allowed For
        * Agents
      parameters:
        - $ref: '#/components/parameters/AgentId'
        - $ref: '#/components/parameters/TicketId'
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: string
                description: empty
                example: ""
              example: ""
        "404":
          description: When the `agent_id` or `ticket_id` is invalid
          content:
            application/json:
              schema:
                type: string
                description: Invalid attribute
                example: ""
              example: ""
  /api/v2/channels/voice/agents/{agent_id}/users/{user_id}/display:
    post:
      operationId: OpenUsersProfileInAgentBrowser
      tags:
        - Basics
      summary: Open a User's Profile in an Agent's Browser
      description: |-
        Allows you to instruct an agent's browser to open a user's profile.

        When the message is successfully delivered to an agent's browser:

        ```http
        Status: 200 OK
        ```

        When `agent_id` or `user_id` is invalid:

        ```http
        Status: 404 Not Found
        ```

        #### Allowed For
        * Agents
      parameters:
        - $ref: '#/components/parameters/AgentId'
        - $ref: '#/components/parameters/UserId'
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: string
                description: empty
                example: ""
              example: ""
        "404":
          description: When the `agent_id` or `user_id` is invalid
          content:
            application/json:
              schema:
                type: string
                description: Invalid attribute
                example: ""
              example: ""
  /api/v2/channels/voice/tickets:
    post:
      operationId: CreateTicketOrVoicemailTicket
      tags:
        - Basics
      summary: Create Ticket or Voicemail Ticket
      description: |-
        #### Allowed For
        * Agents

        ### Creating tickets

        #### Introduction

        Creating tickets using Talk Partner Edition follows the same conventions as the Create Ticket endpoint. See [Create Ticket](/api-reference/ticketing/tickets/tickets/#create-ticket).

        #### Request parameters

        The POST request takes a mandatory `ticket` object that lists the values to set when the ticket is created.
        You may also include an optional `display_to_agent` value such as the ID of the agent that will see the newly created ticket.
        The `display_to_agent` is validated before creating the ticket, returning a 422 error if it is invalid.

        Tickets created using this endpoint must have a `via_id` parameter. See the following
        section for possible values.

        #### Zendesk Talk Integration Via IDs

        Tickets created using this endpoint must have one of the following `via_id` parameters:

        | ID       | Description
        | ---------| -------------
        | 44       | Voicemail
        | 45       | Phone call (inbound)
        | 46       | Phone call (outbound)

        ### Creating voicemail tickets
        #### Request parameters

        The POST request takes a mandatory `ticket` object that lists the values to set when the ticket is created.
        The ticket must have a `voice_comment` with the following values:

        | Name               | Type                  | Comment
        | ------------------ | ----------------------| -------
        | from               | string                | Incoming phone number
        | to                 | string                | Dialed phone number
        | recording_url      | string                | URL of the recording
        | started_at         | date                  | [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) timestamp of the call starting time
        | call_duration      | integer               | Duration in seconds of the call
        | answered_by_id     | integer               | The agent who answered the call
        | transcription_text | string                | Transcription of the call (optional)
        | location           | string                | Location of the caller (optional)
      parameters:
        - $ref: '#/components/parameters/AgentId'
        - $ref: '#/components/parameters/TicketId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TicketCreateVoicemailTicketRequest'
            examples:
              default:
                $ref: '#/components/examples/TicketCreateTicketViaTalkRequestExample'
      responses:
        "201":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TicketResponse'
              examples:
                default:
                  $ref: '#/components/examples/TicketResponseExample'
        "404":
          description: When the `ticket_id` is invalid
          content:
            application/json:
              schema:
                type: string
                description: Invalid attribute
                example: ""
              example: ""
        "422":
          description: When the `agent_id` is invalid
          content:
            application/json:
              schema:
                type: string
                description: Invalid attribute
                example: ""
              example: ""
  /api/v2/chat_file_redactions/{ticket_id}:
    parameters:
      - $ref: '#/components/parameters/TicketId'
    put:
      operationId: RedactChatCommentAttachment
      tags:
        - Ticket Comments
      summary: Redact Chat Comment Attachment
      description: |
        Permanently removes one or more chat attachments from a chat ticket.

        **Note**: This does not work on active chats. For chat tickets that predate March 2020, consider using [Redact Ticket Comment In Agent Workspace](#redact-ticket-comment-in-agent-workspace).

        #### Allowed For

        - Agents

        [Agent Workspace](https://support.zendesk.com/hc/en-us/articles/360024218473) must enabled for the account. Deleting tickets must be enabled for agents.

        #### Request Body Properties

        | Name         | Type    | Required | Description                                                                                                                                                                                                                                            |
        | ------------ | ------- | -------- | ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ |
        | chat_id      | string  | true     | The `chat_id` in the `ChatStartedEvent` event in the ticket audit. See [Ticket Audits](/api-reference/ticketing/tickets/ticket_audits)                                                                                                                 |
        | chat_indexes | array   | false    | The array of `chat_index` in the `ChatFileAttachment` event in the ticket audit. See [Ticket Audits](/api-reference/ticketing/tickets/ticket_audits). Mandatory if `message_ids` is not used                                                           |
        | message_ids  | array   | false    | The array of `message_id` in the `ChatFileAttachment` event in the ticket audit that is part of a `ChatStartedEvent` history. Used when redacting a ChatFileAttachment that is part of a conversation history. Mandatory if `chat_indexes` is not used |

        To get the required body properties, make a request to the [Ticket Audits](/api-reference/ticketing/tickets/ticket_audits) endpoint. Example response:

        ```http
        Status 200 OK
        {
          "audits": [
            "events": [
              {
                "id": 1932802680168,
                "type": "ChatStartedEvent",
                "value": {
                  "visitor_id": "10502823-16EkM3T6VNq7KMd",
                  "chat_id": "2109.10502823.Sjuj2YrBpXwei",
                  "history": [
                    {
                      "chat_index": 0,
                      "type": "ChatFileAttachment",
                      "filename": "image1.jpg"
                    },
                    {
                      "chat_index": 1,
                      "type": "ChatFileAttachment",
                      "filename": "image2.jpg"
                    }
                  ]
                }
              }
            ]
          ]
        }
        ```
      responses:
        "200":
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TicketChatCommentRedactionResponse'
              examples:
                default:
                  $ref: '#/components/examples/TicketChatCommentAttachmentRedactionResponseExample'
  /api/v2/chat_redactions/{ticket_id}:
    parameters:
      - $ref: '#/components/parameters/TicketId'
    put:
      operationId: RedactChatComment
      tags:
        - Ticket Comments
      summary: Redact Chat Comment
      description: "Permanently removes words or strings from a chat ticket's comment. \n\nWrap `<redact>` tags around the content in the chat comment you want redacted. Example: \n\n```json\n{\n  \"text\": \"My ID number is <redact>847564</redact>!\"\n}\n```\n\nThe characters contained in the tag will be replaced by the ▇ symbol.\n\n**Note**: This does not work on active chats. For chat tickets that predate March 2020, consider using [Redact Ticket Comment In Agent Workspace](#redact-ticket-comment-in-agent-workspace).\n\n#### Allowed For\n\n- Agents\n\n[Agent Workspace](https://support.zendesk.com/hc/en-us/articles/360024218473) must enabled for the account. Deleting tickets must be enabled for agents.\n\n#### Request Body Properties\n\n| Name                     | Type    | Required | Description                                                                                                                                                                                                                                       |\n| ------------------------ | ------- | -------- | ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- |\n| chat_id                  | string  | true     | The `chat_id` in the `ChatStartedEvent` event in the ticket audit. See [Ticket Audits](/api-reference/ticketing/tickets/ticket_audits)                                                                                                            |\n| chat_index               | integer | false    | The `chat_index` in the `ChatMessage` event in the ticket audit. See [Ticket Audits](/api-reference/ticketing/tickets/ticket_audits). Mandatory if `message_id` is not used                                                                       |\n| message_id               | string  | false    | The `message_id` of the `ChatMessage` event in the ticket audit that is part of a `ChatStartedEvent` history. Used when redacting a ChatMessage that is part of a conversation history. Mandatory if `chat_index` is not used                     |\n| text                     | string  | true     | The `message` in the `ChatMessage` event in the ticket audit. See [Ticket Audits](/api-reference/ticketing/tickets/ticket_audits).  Wrap `message` with `<redact>` tags                                                                           |\n\nTo get the required body properties, make a request to the [Ticket Audit](/api-reference/ticketing/tickets/ticket_audits) endpoint. Example response:\n\n```http\nStatus 200 OK\n{\n  \"audits\": [\n    \"events\": [\n      {\n        \"id\": 1932802680168,\n        \"type\": \"ChatStartedEvent\",\n        \"value\": {\n          \"visitor_id\": \"10502823-16EkM3T6VNq7KMd\",\n          \"chat_id\": \"2109.10502823.Sjuj2YrBpXwei\",\n          \"history\": [\n            {\n              \"chat_index\": 0,\n              \"type\": \"ChatMessage\",\n              \"message\": \"My ID number is 847564!\"\n            }\n          ]\n        }\n      }\n    ]\n  ]\n}\n```\n"
      responses:
        "200":
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TicketChatCommentRedactionResponse'
              examples:
                default:
                  $ref: '#/components/examples/TicketChatCommentRedactionResponseExample'
  /api/v2/comment_redactions/{ticket_comment_id}:
    parameters:
      - $ref: '#/components/parameters/TicketCommentId'
    put:
      operationId: RedactTicketCommentInAgentWorkspace
      tags:
        - Ticket Comments
      summary: Redact Ticket Comment In Agent Workspace
      description: "Redaction allows you to permanently remove words, strings, or attachments from a ticket comment.\n\nIn the `html_body` of the comment, wrap the content you want redacted in `<redact>` tags. Example:\n\n```json\n{\n  \"html_body\": \"<div class=\\\"zd-comment\\\" dir=\\\"auto\\\">My ID number is <redact>847564</redact>!</div>\",\n  \"ticket_id\":100\n}\n```\n\nThe characters in the redact tag will be replaced by the ▇ symbol.\n\nTo redact HTML elements such inline images, anchor tags, and links, add the `redact` tag attribute to the element as well as the `<redact>` tag to inner text, if any. Example: \n\n`<a href=\"http://example.com\" redact><redact>some link</redact></a>`\n\nThe `redact` attribute only redacts the tag. Any inner text will be left behind if not enclosed in a `<redact>` tag.\n\nRedaction is permanent and can not be undone. Data is permanently deleted from Zendesk servers with no way to recover it.\n\nThis endpoint provides all the same functionality that the [Redact String in Comment](/api-reference/ticketing/tickets/ticket_comments/#redact-string-in-comment) endpoint provides, plus:\n\n- Redaction of comments in closed tickets\n\n- Redaction of comments in archived tickets\n\n- Redaction of formatted text (bold, italics, hyperlinks)\n\n**Limitations**: When content is redacted from an email comment, the content is also redacted from the original email through a background job. It may take a while for the changes to be completed.\n\n**Note**: We recommend using this endpoint instead of the [Redact String in Comment](/api-reference/ticketing/tickets/ticket_comments/#redact-string-in-comment) endpoint, which will eventually be deprecated.\n\n#### Allowed For\n\n- Agents\n\n[Agent Workspace](https://support.zendesk.com/hc/en-us/articles/360024218473) must be enabled on the account. For professional accounts, deleting tickets must be enabled for agents. On Enterprise accounts, you can assign agents to a custom role with permissions to redact ticket content.\n\n#### Request Body Properties\n\n| Name                     | Type    | Required | Description                                                                                                                                      |\n| -------------------------| ------- | -------- | ------------------------------------------------------------------------------------------------------------------------------------------------ |\n| ticket_id                | integer | true     | The ID of the ticket                                                                                                                             |\n| html_body                | string  | false    | The `html_body` of the comment containing `<redact>` tags or `redact` attributes                                           |\n| external_attachment_urls | array   | false    | Array of attachment URLs belonging to the comment to be redacted. See [`content_url` property of Attachment](/api-reference/ticketing/tickets/ticket-attachments/) |\n"
      responses:
        "200":
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TicketCommentResponse'
              examples:
                default:
                  $ref: '#/components/examples/TicketCommentsRedactionInAgentWorkspaceResponseExample'
  /api/v2/custom_objects:
    get:
      operationId: ListCustomObjects
      tags:
        - Custom Objects
      summary: List Custom Objects
      description: |-
        Lists all undeleted custom objects for the account
        #### Allowed For
        * Agents
      responses:
        "200":
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomObjectsResponse'
              examples:
                default:
                  $ref: '#/components/examples/CustomObjectsResponseExample'
    post:
      operationId: CreateCustomObject
      tags:
        - Custom Objects
      summary: Create Custom Object
      description: |
        Creates an object describing all the properties required to create a custom object record
        #### Allowed For
        * Admins
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomObjectsCreateRequest'
            examples:
              default:
                $ref: '#/components/examples/CustomObjectsCreateRequestExample'
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomObjectResponse'
              examples:
                default:
                  $ref: '#/components/examples/CustomObjectsCreateResponseExample'
  /api/v2/custom_objects/{custom_object_key}/fields:
    get:
      operationId: ListCustomObjectFields
      tags:
        - Custom Object Fields
      summary: List Custom Object Fields
      description: |-
        Lists all undeleted custom fields for the specified object.

        #### Allowed For
        * Agents

        #### Pagination
        * Cursor pagination (recommended)
        * Offset pagination

        See [Pagination](/api-reference/introduction/pagination/).
      parameters:
        - $ref: '#/components/parameters/CustomObjectKey'
        - $ref: '#/components/parameters/IncludeStandardFields'
      responses:
        "200":
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomObjectFieldsResponse'
              examples:
                default:
                  $ref: '#/components/examples/CustomObjectFieldsResponseExample'
    post:
      operationId: CreateCustomObjectField
      tags:
        - Custom Object Fields
      summary: Create Custom Object Field
      description: |
        Creates any of the following custom field types:

        * text (default when no "type" is specified)
        * textarea
        * checkbox
        * date
        * integer
        * decimal
        * regexp
        * dropdown
        * lookup
        * multiselect

        See [About custom field types](https://support.zendesk.com/hc/en-us/articles/203661866) in Zendesk help.

        #### Allowed For

        * Admins
      parameters:
        - $ref: '#/components/parameters/CustomObjectKey'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomObjectFieldsCreateRequest'
            examples:
              default:
                $ref: '#/components/examples/CustomObjectFieldsCreateRequestExample'
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomObjectFieldResponse'
              examples:
                default:
                  $ref: '#/components/examples/CustomObjectFieldCreateResponseExample'
  /api/v2/custom_objects/{custom_object_key}/fields/{custom_object_field_key_or_id}:
    get:
      operationId: ShowCustomObjectField
      tags:
        - Custom Object Fields
      summary: Show Custom Object Field
      description: |
        Returns a custom field for a specific object using a provided key or id of the field.
        #### Allowed For
        * Agents
      parameters:
        - $ref: '#/components/parameters/CustomObjectKey'
        - $ref: '#/components/parameters/CustomObjectFieldKeyOrId'
      responses:
        "200":
          description: Custom Object Field
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomObjectFieldResponse'
              examples:
                default:
                  $ref: '#/components/examples/CustomObjectFieldCreateResponseExample'
    patch:
      operationId: UpdateCustomObjectField
      tags:
        - Custom Object Fields
      summary: Update Custom Object Field
      description: |-
        Updates individual custom object fields. The updating rules are as follows:
        * Takes a `custom_object_field` object that specifies the properties to update
        * The `key` property cannot be updated
        * If updating a standard field, only the `title`, `description`, and `properties` attributes can be updated.
        * The `properties` parameter is comprised of four parts and can't be changed if any records exist for the object.
            * `autoincrement_enabled`: A Boolean that enables and disables autonumbering. Must be false if is_unique is true.
            * `autoincrement_prefix`: A string value that is used as a prefix to the autogenerated numbers. It can't exceed 30 characters.
            * `autoincrement_padding`: An integer specifying the starting number of digits in the autogenerated numbers. This value may be between 0-9. However, if you create records in excess of of these digits, additional digits are added as necessary.
            * `autoincrement_next_sequence`: An integer that will be used as the next number in the autonumbering sequence. It can't be negative or less than the current autonumbering value.
            * `is_unique`: A Boolean that enforces uniqueness for manually entered record names. When true, custom object record names must be unique. Must be false if autoincrement_enabled is true.
        #### Allowed For
        * Admins
      parameters:
        - $ref: '#/components/parameters/CustomObjectKey'
        - $ref: '#/components/parameters/CustomObjectFieldKeyOrId'
      responses:
        "200":
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomObjectFieldResponse'
              examples:
                default:
                  $ref: '#/components/examples/CustomObjectFieldCreateResponseExample'
    delete:
      operationId: DeleteCustomObjectField
      tags:
        - Custom Object Fields
      summary: Delete Custom Object Field
      description: |-
        Deletes a field with the specified key. Note: You can't delete standard fields.
        #### Allowed For
        * Admins
      parameters:
        - $ref: '#/components/parameters/CustomObjectKey'
        - $ref: '#/components/parameters/CustomObjectFieldKeyOrId'
      responses:
        "204":
          description: No content response
  /api/v2/custom_objects/{custom_object_key}/fields/reorder:
    put:
      operationId: ReorderCustomObjectFields
      tags:
        - Custom Object Fields
      summary: Reorder Custom Fields of an Object
      description: |
        Sets a preferred order of custom fields for a specific object by providing field ids in the desired order.
        #### Allowed For

        * Admins
      parameters:
        - $ref: '#/components/parameters/CustomObjectKey'
      responses:
        "200":
          description: Reordered
          content:
            application/json:
              schema:
                type: string
                description: Empty response
                example: ""
              example: ""
  /api/v2/custom_objects/{custom_object_key}/jobs:
    post:
      operationId: CustomObjectRecordBulkJobs
      tags:
        - Custom Object Records
      summary: Custom Object Record Bulk Jobs
      description: |
        Queues a background job to perform bulk actions on up to 100 custom object records per single request.
        Takes a `job` object with two nested fields:
        * `action`, one of:
            * `"create"`
            * `"delete"`
            * `"delete_by_external_id"`
            * `"create_or_update_by_external_id"`
            * `"create_or_update_by_name"`
            * `"update"`
        * `items`
            * For a `"create"` action, an array of JSON objects representing the custom object records being created
            * For a `"delete"` action, an array of strings representing Zendesk record ids
            * For a `"delete_by_external_id"` action, an array of strings representing external ids
            * For a `"create_or_update_by_external_id"` action, an array of JSON objects representing the custom object records being created or updated by external id
            * For a `"create_or_update_by_name"` action, an array of JSON objects representing the custom object records being created or updated by name. The `is_unique` property on the custom object's name field must be enabled.
            * For an `"update"` action, an array of JSON objects representing the custom object records being updated

        Note: If autonumbering is selected for the custom object's name field, record names aren't allowed in the request body because they are generated automatically. If uniqueness is enabled, the record names must be unique.

        #### Allowed For
        * Agents

        #### Response ###
        This endpoint returns a `job_status` [JSON object](/api-reference/ticketing/ticket-management/job_statuses/#json-format) and queues a background job to do the work. Use the [Show Job Status](/api-reference/ticketing/ticket-management/job_statuses/#show-job-status) endpoint to check for the job's completion. Only a certain number of jobs can be queued or running at the same time. See [Job limit](/api-reference/introduction/rate-limits/#job-limit) for more information.
      parameters:
        - $ref: '#/components/parameters/CustomObjectKey'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomObjectRecordsBulkCreateRequest'
            examples:
              default:
                $ref: '#/components/examples/CustomObjectRecordsBulkCreateRequestExample'
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomObjectRecordsJobsResponse'
              examples:
                default:
                  $ref: '#/components/examples/CustomObjectRecordsJobsResponseExample'
  /api/v2/custom_objects/{custom_object_key}/limits/field_limit:
    get:
      operationId: CustomObjectFieldsLimit
      tags:
        - Custom Object Fields
      summary: Custom Object Fields Limit
      description: |-
        List the current count and the limit for a custom object's fields
        #### Allowed For
        * Agents
      parameters:
        - $ref: '#/components/parameters/CustomObjectKey'
      responses:
        "200":
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomObjectLimitsResponse'
              examples:
                default:
                  $ref: '#/components/examples/CustomObjectFieldsLimitResponseExample'
  /api/v2/custom_objects/{custom_object_key}/records:
    get:
      operationId: ListCustomObjectRecords
      tags:
        - Custom Object Records
      summary: List Custom Object Records
      description: |-
        Lists all undeleted custom object records for the specified object

         #### Pagination

        * [Cursor pagination](/api-reference/introduction/pagination/#cursor-pagination) only.
        #### Allowed For
        * Agents
      parameters:
        - $ref: '#/components/parameters/CustomObjectKey'
        - name: filter[ids]
          in: query
          description: Optional comma-separated list of ids to filter records by. If one or more ids are specified, only matching records are returned. The ids must be unique and are case sensitive.
          schema:
            type: string
          examples:
            multipleIds:
              summary: Example of multiple ids
              value: id_1,id_2,id_3
            oneId:
              summary: Example of a single id
              value: id_1
        - name: filter[external_ids]
          in: query
          description: Optional comma-separated list of external ids to filter records by. If one or more ids are specified, only matching records are returned. The ids must be unique and are case sensitive.
          schema:
            type: string
          examples:
            multipleIds:
              summary: Example of multiple ids
              value: ex_id_1,ex_id_2,ex_id_3
            oneId:
              summary: Example of a single id
              value: ex_id_1
        - name: sort
          in: query
          description: |
            One of `id`, `updated_at`, `-id`, or `-updated_at`. The `-` denotes the sort will be descending.
          schema:
            type: string
        - name: page[before]
          in: query
          description: |
            A [pagination cursor](/documentation/api-basics/pagination/paginating-through-lists-using-cursor-pagination) that tells the endpoint which page to start on. It should be a `meta.before_cursor` value from a previous request. Note: `page[before]` and `page[after]` can't be used together in the same request.
          schema:
            type: string
        - name: page[after]
          in: query
          description: |
            A [pagination cursor](/documentation/api-basics/pagination/paginating-through-lists-using-cursor-pagination) that tells the endpoint which page to start on. It should be a `meta.after_cursor` value from a previous request. Note: `page[before]` and `page[after]` can't be used together in the same request.
          schema:
            type: string
        - name: page[size]
          in: query
          description: |
            Specifies how many records should be returned in the response. You can specify up to 100 records per page.
          schema:
            type: integer
      responses:
        "200":
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomObjectRecordsResponse'
              examples:
                default:
                  $ref: '#/components/examples/CustomObjectRecordsIndexResponseExample'
    post:
      operationId: CreateCustomObjectRecord
      tags:
        - Custom Object Records
      summary: Create Custom Object Record
      description: |
        Creates a custom object record according to all the properties described by a custom object definition. If `autoincrement_enabled` is true, record names aren't allowed in the request body because they are generated automatically. If `is_unique` is true, record names must be unique.
        #### Allowed For
        * Agents
      parameters:
        - $ref: '#/components/parameters/CustomObjectKey'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomObjectRecordsCreateRequest'
            examples:
              default:
                $ref: '#/components/examples/CustomObjectRecordsCreateRequestExample'
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomObjectRecordResponse'
              examples:
                default:
                  $ref: '#/components/examples/CustomObjectRecordsCreateResponseExample'
    patch:
      operationId: UpsertCustomObjectRecordByExternalIdOrName
      tags:
        - Custom Object Records
      summary: Set Custom Object Record by External Id Or Name
      description: |
        If a record exists for the given external id or name, updates it. Only the specified attributes are updated. Otherwise, creates a new record with the provided external id, name and other attributes. The `is_unqiue` property on the custom object's name field must be enabled in order to update or create by name. External id and name cannot be used together in the same request.
        #### Allowed For
        * Agents
      parameters:
        - $ref: '#/components/parameters/CustomObjectKey'
        - $ref: '#/components/parameters/CustomObjectRecordExternalId'
        - $ref: '#/components/parameters/CustomObjectRecordName'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomObjectRecordsUpsertRequest'
            examples:
              default:
                $ref: '#/components/examples/CustomObjectRecordsUpsertRequestExample'
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomObjectRecordResponse'
              examples:
                default:
                  $ref: '#/components/examples/CustomObjectRecordsUpsertResponseExample'
    delete:
      operationId: DeleteCustomObjectRecordByExternalIdOrName
      tags:
        - Custom Object Records
      summary: Delete Custom Object Record by External Id Or Name
      description: |
        Deletes a record with the specified external id or name. The `is_unique` property on the custom object's name field must be enabled in order to delete by name. External id and name cannot be used together in the same request.
        #### Allowed For
        * Agents
      parameters:
        - $ref: '#/components/parameters/CustomObjectKey'
        - $ref: '#/components/parameters/CustomObjectRecordExternalId'
        - $ref: '#/components/parameters/CustomObjectRecordName'
      responses:
        "204":
          description: No content response
  /api/v2/custom_objects/{custom_object_key}/records/{custom_object_record_id}:
    get:
      operationId: ShowCustomObjectRecord
      tags:
        - Custom Object Records
      summary: Show Custom Object Record
      description: |
        Returns a custom record for a specific object using a provided id.
        #### Allowed For
        * Agents
      parameters:
        - $ref: '#/components/parameters/CustomObjectKey'
        - $ref: '#/components/parameters/CustomObjectRecordId'
      responses:
        "200":
          description: Custom Object Record
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomObjectRecordResponse'
              examples:
                default:
                  $ref: '#/components/examples/CustomObjectRecordsCreateResponseExample'
    patch:
      operationId: UpdateCustomObjectRecord
      tags:
        - Custom Object Records
      summary: Update Custom Object Record
      description: |-
        Updates an individual custom object record. The updating rules are as follows:
        * Takes a `custom_object_record` object that specifies the properties to update
        * The custom object fields should be nested inside a `custom_object_fields` object
        #### Allowed For
        * Agents
      parameters:
        - $ref: '#/components/parameters/CustomObjectKey'
        - $ref: '#/components/parameters/CustomObjectRecordId'
      responses:
        "200":
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomObjectRecordResponse'
              examples:
                default:
                  $ref: '#/components/examples/CustomObjectRecordsCreateResponseExample'
    delete:
      operationId: DeleteCustomObjectRecord
      tags:
        - Custom Object Records
      summary: Delete Custom Object Record
      description: |-
        Deletes a record with the specified id
        #### Allowed For
        * Agents
      parameters:
        - $ref: '#/components/parameters/CustomObjectKey'
        - $ref: '#/components/parameters/CustomObjectRecordId'
      responses:
        "204":
          description: No content response
  /api/v2/custom_objects/{custom_object_key}/records/autocomplete:
    get:
      operationId: AutocompleteCustomObjectRecordSearch
      tags:
        - Custom Object Records
      summary: Autocomplete Custom Object Record Search
      description: |-
        Retrieves an array of custom object records that have a field value that matches the value specified in the `name` parameter.

        #### Pagination

        * [Cursor pagination](/api-reference/introduction/pagination/#cursor-pagination) only.
        * Returns the first 10,000 records sorted by relevancy with page limits.
        #### Allowed For
        * Agents
      parameters:
        - $ref: '#/components/parameters/CustomObjectKey'
        - name: name
          in: query
          description: Part of a name of the record you are searching for
          schema:
            type: string
        - name: page[before]
          in: query
          description: |
            A [pagination cursor](/documentation/api-basics/pagination/paginating-through-lists-using-cursor-pagination) that tells the endpoint which page to start on. It should be a `meta.before_cursor` value from a previous request. Note: `page[before]` and `page[after]` can't be used together in the same request.
          schema:
            type: string
        - name: page[after]
          in: query
          description: |
            A [pagination cursor](/documentation/api-basics/pagination/paginating-through-lists-using-cursor-pagination) that tells the endpoint which page to start on. It should be a `meta.after_cursor` value from a previous request. Note: `page[before]` and `page[after]` can't be used together in the same request.
          schema:
            type: string
        - name: page[size]
          in: query
          description: |
            The number of records to return in the response. You can specify up to 100 records per page.
          schema:
            type: integer
        - name: field_id
          in: query
          description: |
            The id of the lookup field. If the field has a relationship filter, the filter is applied to the results. Must be used with `source` param.
          schema:
            type: string
        - name: source
          in: query
          description: |
            One of "zen:user", "zen:ticket", "zen:organization", or "zen:custom_object:CUSTOM_OBJECT_KEY". Represents the object `field_id` belongs to. Must be used with field_id param.
          schema:
            type: string
        - name: requester_id
          in: query
          description: |
            The id of the requester. For use with dynamic filters.
          schema:
            type: integer
          example: 264817272
        - name: assignee_id
          in: query
          description: |
            The id of the selected assignee. For use with dynamic filters.
          schema:
            type: integer
          example: 7334148660734
        - name: organization_id
          in: query
          description: |
            The id of the organization the requester belongs to. For use with dynamic filters.
          schema:
            type: integer
          example: 5633330889598
      responses:
        "200":
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomObjectRecordsResponse'
              examples:
                default:
                  $ref: '#/components/examples/CustomObjectRecordsAutocompleteResponseExample'
  /api/v2/custom_objects/{custom_object_key}/records/count:
    get:
      operationId: CountCustomObjectRecords
      tags:
        - Custom Object Records
      summary: Count Custom Object Records
      description: |-
        Returns a total count of records for a specific custom object as well as the time the count was refreshed.
        #### Allowed For
        * Agents
      parameters:
        - $ref: '#/components/parameters/CustomObjectKey'
      responses:
        "200":
          description: Success response
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: object
                    additionalProperties:
                      properties:
                        refreshed_at:
                          description: The time the last count was performed
                          format: date-time
                          readOnly: true
                          type: string
                        value:
                          description: Number of records at the time of the latest count operation
                          readOnly: true
                          type: integer
              examples:
                default:
                  value:
                    count:
                      refreshed_at: "2022-09-02T22:44:35Z"
                      value: 7
  /api/v2/custom_objects/{custom_object_key}/triggers:
    parameters:
      - $ref: '#/components/parameters/CustomObjectKey'
    get:
      operationId: ListObjectTriggers
      tags:
        - Object Triggers
      summary: List Object Triggers
      description: "Lists all triggers for the specified custom object.\n\n#### Allowed For \n* Agents\n"
      parameters:
        - $ref: '#/components/parameters/TriggerActive'
        - $ref: '#/components/parameters/TriggerSortBy'
        - $ref: '#/components/parameters/TriggerSortOrder'
      responses:
        "200":
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectTriggersResponse'
              examples:
                default:
                  $ref: '#/components/examples/ObjectTriggersResponseExample'
    post:
      operationId: CreateObjectTrigger
      tags:
[...]
